/*REGLAS PARA RESPONSIVE WEB DESIGN*/
/*Las pantallas entre 769px y 799px presentaran la barra de scroll horizonal, el gran enemigo del diseño responsivo*/

@media screen and (min-width: 480px) {/*Tamaño minimo para Celulares*/
    .container, nav ul, .col2, .col3, .col5{
        width: 100%;
    }
}

@media screen and (max-width: 1200px ) {/*Tamaño máximo para para computadoras de escritorio*/
    .container, nav ul, .col2, .col3, .col5{
        width: 100%;
    }
}

nav ul{ 
    margin:auto;
    width: 450px;
    background: cyan;
    padding: 0;
}

nav ul li{ /*Para alinear de forma horizontal los elementos del menú*/
    text-align: center;
    width: 33.33%;
    background: lightpink;
    list-style: none;
    padding: 10px 0;
    float: left;
}
/*Este tiene una sangria porque en orden jerárquico no representa en si misma algo nuevo, sino el comportamiento
    de un elemento existente. Tambien se utilizan sangrías para indicar que un elemento esta anidado dentro de otro*/

    nav ul li:hover{/*Sirve para pintar los botones al pasar el mouse por encima*/
        background: #E44DFE;
    }
nav ul li a{/*Darle apariencia a los vínculos del menú*/
    text-decoration: none;
    color:darkblue;
}

.col2{
    background: pink;
    width: 50%;
    margin: 1% 0;
    padding: 1%;/*Padding incremento su ancho*/
    float: left;
    box-sizing: border-box;/*Sirve para que el navegador conserve siempre su ancho indicado en cada columna*/
}

.col3{
    background: pink;
    width: 33%;
    margin: 1% 0;
    float: left;
    padding: 1%;
    box-sizing: border-box;

}

.col5{
    background: pink;
    width: 20%;
    margin: 1% 0;
    float: left;
    padding: 1%;
    box-sizing: border-box;

}