h1{
    color: red;
}

#subtitulo{
    color: green;
}

.parrafo{
    color: blue;
}

div span p:first-child{ /*Para pintar la primera posición*/
    color: red;
}

div span p:last-child{ /*Para pintar la última posición*/
    color:blue;
}

div span p:nth-child(4){/*se especifica con un único argumento, que representa el patrón para los elementos coincidentes.*/
    color: pink;
}

.pink:hover{/*Se utiliza para cuando pase el mouse encima*/
    color: pink;
}

#box{
    width: 800px;
    background: cyan;
}

.inline, .block{
    color: white;
    margin: 10px;
    padding: 10px;
    background: purple;
    border: 3px solid green;
}

.block{
    background: red;
}